<% if @task.errors.any? %>
<div id="error_explantion">
  <h2><%= pluralize(@task.errors.count ,  t('err_msg.err_count') )%><%= t('err_msg.has_error') %></h2>
  <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li><br>
    <% end %>
  </ul>
  </div>
<% end %>
<%= form_with(model: @task , local: true , class:"form_container") do |f| %>
  
  <div class="form-group">
    <% Label.all.each do |label|%>
      <%= f.check_box :label_id, {multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false,
                                  :checked => @label_checked_already.nil? ? false : @label_checked_already.include?(label.id)
                                  } ,label[:id],class:"form-control"%>
      <%= label.word%>
    <%end%>
  </div>

  <div class="form-group">
    <%= f.label :title%>
    <%= f.text_field :title,class:"form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :content%>
    <%= f.text_area :content,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :deadline_at%>
    <%= f.date_field :deadline_at,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :priority%>
    <%= f.select :priority,  Task.priorities.keys ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :status%>
    <%= f.select :status,  Task.statuses.keys ,class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :image%>
    <%= f.file_field :image, class:"form-control"%>
  </div>

  <div class="align_center">
    <%= f.submit t('btn.submit') ,class:"btn-sm"%>
    <%= link_to t('btn.to_index') , tasks_path ,class:"btn-sm btn-dark"%>
  </div>
<% end %>