<h1><%= t('view.index_title') %></h1>

<table>
  <th><%= t('activerecord.attributes.task.title') %> </th>
  <th><%= t('activerecord.attributes.task.content') %></th>

    <% @tasks.each do |task| %>
    <tr>
      <div>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= link_to t('btn.show'), task_path(task.id)%></td>
        <td><%= link_to t('btn.update') , edit_task_path(task.id) %></td>
        <td><%= link_to t('btn.destroy'), task_path(task.id), method: :delete, data:{ confirm: t('msg.confirm_destroy')} %>
      </tr>
    <% end %>

</table>

<%= link_to t('btn.new') , new_task_path%>
