<h1><%= t('view.show_title') %></h1>

  <div class="form-group">
    <%= t('activerecord.attributes.task.title')%>:<%= @task.title%>
  </div>

  <div class="form-group">
    <%= t('activerecord.attributes.task.content')%>:<%= @task.content%>
  </div>

    <div class="form-group">
    <%= t('activerecord.attributes.task.deadline_at')%>:<%= @task.deadline_at%>
  </div>

    <div class="form-group">
    <%= t('activerecord.attributes.task.priority')%>:<%= @task.priority%>
  </div>

    <div class="form-group">
      <%= t('activerecord.attributes.task.status')%>:<%= @task.status%>
    </div>

  <%= link_to t('btn.update') , edit_task_path(@task.id) %>
  <%= link_to t('btn.destroy'), task_path(@task.id), method: :delete, data:{ confirm: t('msg.confirm_destroy') } %>
  <%= link_to t('btn.to_index') , tasks_path %>
