<h1>Tasks#show</h1>

  <div class="form-group">
    <p>タイトル</p><%= @task.title%>
  </div>

  <div class="form-group">
    <p>内容</p><%= @task.content%>
  </div>

    <div class="form-group">
    <p>期限</p><%= @task.deadline_at%>
  </div>

    <div class="form-group">
    <p>優先度</p><%= @task.priority%>
  </div>

    <div class="form-group">
    <p>ステータス</p><%= @task.status%>
    </div>

  <%= link_to "編集" , edit_task_path(@task.id) %>
  <%= link_to "削除", task_path(@task.id), method: :delete, data:{ confirm: "削除してもよろしいですか？" } %>
  <%= link_to '一覧へ' , tasks_path %>
