<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagementApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
    <header>
      <div class="header-left">
        <h1><%=t('view.page_title')%></h1>
      </div>
      <div class="header-right">
      <p></p>
      </div>
    </header>

  <body>
    <div class="container">
      <%= render partial: 'layouts/flash_messages' %>
      <%= yield %>
    </div>
    <footer>
      <p><%=t('view.footer_title')%></p>
    </footer>
  </body>
</html>
