<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagementApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
    <header>
      <div class="header-left">
        <h1><%=t('view.page_title')%></h1>
      </div>
      <div class="header-right">
        <% if logged_in? %>
          <li><%= link_to t('btn.mypage') , user_path(current_user.id) ,class:"btn btn-dark btn-lg"%></li>
          <li><%= link_to t('btn.logout') , session_path(current_user.id) ,
          method: :delete ,data:{confirm:t('msg.confirm_logout')},class:"btn btn-danger btn-lg"%></li>
        <% else %>
          <li><%= link_to t('btn.login') , new_session_path ,class:"btn btn-dark btn-lg"%></li>
          <li><%= link_to t('btn.signin') , new_user_path ,class:"btn btn-primary btn-lg"%></li>
        <% end %>    
      <p></p>
      </div>
    </header>

  <body>
    <div class="container">
      <%= render partial: 'layouts/flash_messages' %>
      <%= yield %>
    </div>
    <footer>
      <p><%=t('view.footer_title')%></p>
    </footer>
  </body>
</html>
